---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import a from "../assets/images/a.svg";
import f from "../assets/images/f.svg";
import i from "../assets/images/i.svg";
import t from "../assets/images/t.svg";
import moodboard from "../assets/images/moodboard.png";
import rentegning from "../assets/images/rentegning.png";
import proces from "../assets/images/proces.png";
import l from "../assets/images/l.svg";
import n from "../assets/images/n.svg";
import y from "../assets/images/y.svg";
import p from "../assets/images/p.svg";
---

<body class="bg-[#E1EBD4] lg:px-28 p-7 font-light">
  <MainLayout title="Plantly by Ida">
    <header>
      <nav class="flex justify-between items-center">
        <a href="#" class="logo font-bold hover:hover:text-green-700">Plantly</a
        >
        <div class="flex space-x-4">
          <a href="#plan" class="hover:text-green-700">Plan </a>
          <a href="#proces" class="hover:text-green-700">Proces</a>
          <a href="#conclusion" class="hover:text-green-700">Conclusion</a>
        </div>
      </nav>
    </header>

    <h1>
      <div class="pt-10 flex justify-between items-center">
        <Image src={p} alt="letter" class="h-24" />
        <Image src={l} alt="letter" class="h-24" />
        <Image src={a} alt="letter" class="h-24" />
        <Image src={n} alt="letter" class="h-24" />
        <Image src={t} alt="letter" class="h-24" />
        <Image src={l} alt="letter" class="h-24" />
        <Image src={y} alt="letter" class="h-24" />
      </div>
    </h1>

    <section id="plan">
      <div class="flex flex-col mt-20 sm:flex-row">
        <div class="w-full sm:w-1/2 p-4">
          <Image src={moodboard} alt="moodboard" class="w-full h-auto" />
          <figcaption class="py-2 italic text-sm">
            Moodboard and initial thoughts
          </figcaption>
        </div>
        <div class="w-full sm:w-1/2 p-4">
          <h2 class="py-5">
            <Image src={p} alt="letter" class="h-14 inline-block w-10" />
            <Image src={l} alt="letter" class="h-14 inline-block w-10" />
            <Image src={a} alt="letter" class="h-14 inline-block w-10" />
            <Image src={n} alt="letter" class="h-14 inline-block w-10" />
          </h2>
          <h3 class="py-5 italic text-[#22531f]">
            I was inspired to create Plantly after a walk in the forest, where
            the strong green color became the foundation for my font. Drawing
            inspiration from the awakening of spring, embracing organic forms
            and flowing lines.
          </h3>
          <p class="py-4">
            My font/typography is designed with a simple expression in sans
            serif, drawing inspiration from the organic and light designs of the
            Art Nouveau movement. The letters of my font are crafted using a
            grid with the golden ratio to ensure coherence and recognition among
            them. Additionally, this is done to create space between the letters
            with optimal proportions for readability on an otherwise light
            glyph.
          </p>
        </div>
      </div>
    </section>

    <section id="proces">
      <div class="flex flex-row">
        <div class="w-full sm:w-1/2 p-4">
          <h2 class="text-[#009245] text-5xl pb-5 mt-5">Proces</h2>
          <p class="pb-5">
            I began my design process by gathering research on what would form
            the foundation of my font. I chose a simple sans serif font for its
            readability and because I knew I wanted to embellish my glyphs with
            leaves and stems. I sketched some designs with integrated leaves,
            but after several iterations, I thought they became too overpowering
            and needed a sense of lightness. I searched for inspiration for
            simple fonts on Pinterest and found some to draw inspiration from. <br
            /><br /> I drew my glyphs as SVG illustrations in Adobe Illustrator and
            organized them in a grid layer to ensure they appeared straight and proportional.
            In Illustrator, I combined these illustrations with the insights I had
            gathered through my research.
          </p>
          <Image src={rentegning} alt="rentegning" class="w-full h-auto" />
          <figcaption class="py-2 italic text-sm">
            Adobe Illustrator was very helpful in terms of proportions and
            balance
          </figcaption>
        </div>
        <div class="w-full sm:w-1/2 p-4">
          <Image src={proces} alt="rentegning" class="w-full h-auto" />
          <figcaption class="italic text-sm text-right">
            My initial doodle of Plantly
          </figcaption>
        </div>
      </div>
    </section>

    <section id="conclusion">
      <h2 class="text-[#009245] text-5xl pb-5">Conclusion</h2>
      <p class="py-4">
        Overall, it was a rewarding and challenging process to create my own
        font. <br /> Drawing inspiration from others proved to be a valuable tool
        in crafting my own unique expression.
      </p>
      <div class="pt-10 flex justify-between items-center">
        <Image src={p} alt="letter" class="h-24" />
        <Image src={l} alt="letter" class="h-24" />
        <Image src={a} alt="letter" class="h-24" />
        <Image src={n} alt="letter" class="h-24" />
        <Image src={t} alt="letter" class="h-24" />
        <Image src={l} alt="letter" class="h-24" />
        <Image src={y} alt="letter" class="h-24" />
      </div>
    </section>
  </MainLayout>
</body>
