---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import converselogo from "../assets/images/favicon.svg";
import marquismills from "../assets/images/marquismills.jpg";
import oldschoolconverse from "../assets/images/1908_converse.png"
import jamesdean from "../assets/images/james_dean.jpg";
import elvis from "../assets/images/elvis.jpg";
import ramones from "../assets/images/ramones.jpg";
import scooby from "../assets/images/scooby.jpg";
import warhol from "../assets/images/warhol.jpg";
import commes from "../assets/images/commes.jpg";
import weloveconverse from "../assets/images/we<3converse.jpg";
---

<body class="bg-white p-7">
<MainLayout title="Converse All Star">
  <article class="grid mx-auto container prose">
    <h1 class="text-center">Historien om Converse All Star</h1>
    <Image src={converselogo} class="w-60 mx-auto" alt="Converse All Star"/>


    <h2>Kapitel 1: <br> Ikke blot en sko, men et ikons fødsel</h2>

    <p>
      Snør skoene og træd tilbage til 1908, hvor Marquis Mills Converse grundlagde Converse Rubber Shoe Company i Malden, Massachusetts. Mens virksomheden oprindeligt fremstillede vandtætte gummisko, var det først i 1917, at Converse introducerede skoen, der skulle blive deres mest berømte – nemlig Converse All Star. 
      <Image src={marquismills} class="w-auto" alt="marquismills"/>
      <br><br>
      Designet som en basketballsko til professionelle spillere i begyndelsen af det 20. århundrede, vandt All Star hurtigt popularitet blandt atleter og sportsentusiaster landet over på grund af dens holdbarhed og støtte. 
    </p>

    <Image src={oldschoolconverse} alt="Converse fra 1908" />

    <h2>Kapitel 2: <br> En kulturel revolution</h2>

    <p>
      Spring frem til 1950'erne og 1960'erne, hvor Converse All Star forlod basketballbanen og indtog mainstreamkulturen. Ungdomskulturen omfavnede skoens enkle, tidløse design, og ikoner som James Dean og Elvis Presley hjalp med at popularisere dem på det store lærred og fjernsynet.
    </p>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      <div>
        <Image src={jamesdean} alt="James Dean bærer Converse" />
      </div>
      <div>
        <Image src={elvis} alt="Elvis Presly bærer Converse" />
      </div>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      <div>
        <Image src={ramones} alt="Ramones gjorde Converse rock'n'roll!" />
      </div>
      <div>
        <p>Men det var inden for musikkens verden, at Converse All Star virkelig solidificerede sin ikoniske status. Rockstjerner som The Ramones og The Clash gjorde skoene til en del af deres signaturstil og cementerede dem som et symbol på oprør og ungdommelig ånd.</p>
      </div>
    </div>

    <h2>Kapitel 3: <br> Fra Sportsarena til kulturelt symbol</h2>

    <p>
      I dag repræsenterer Converse All Star mere end blot en sko – det er et globalt ikon. Fra musikfestivaler til modeuger kan man se skoene på fødderne af mennesker i alle aldre og fra alle samfundslag. <br><br>
      Men Converse har ikke stået stille. Virksomheden fortsætter med at innovere og samarbejde med kunstnere, designere og kreative talenter for at holde mærket relevant i en stadig skiftende verden. Fra specialudgaver med kunstneriske prints til bæredygtige materialer fortsætter Converse All Star med at tilpasse sig og inspirere nye generationer.
    </p>

    <div class="grid grid-cols-1 sm:grid-cols-3 gap-4">
      <div>
        <Image src={scooby} class="h-50" alt="Scooby Doo Converse" />
      </div>
      <div>
        <Image src={warhol} class="h-50 "alt="Kunsnerisk sko" />      </div>
      <div>
        <Image src={commes} class="h-50" alt="Designer Converse" />      </div>
    </div>
    

    <h2>Kapitel 4: <br> Fortsættelsen af legenden</h2>

    <p>
      I dag repræsenterer Converse All Star mere end bare en sko. Det er et symbol på individualitet, kreativitet og selvudtryk. Uanset om du bærer dem på gaden, på scenen eller på arbejdet, er Converse All Star en påmindelse om det ikoniske arv, det repræsenterer, og den kulturelle indflydelse, det har haft gennem årene. <br><br>
      Så næste gang du snører et par Converse All Stars, så husk, at du bærer mere end bare sko - du bærer en del af en kulturel arv, der fortsætter med at inspirere og begejstre mennesker over hele verden.
    </p>

    <h2>Kapitel 5: <br> Formning af fremtiden</h2>

      <p>Mens vi kigger ind i fremtiden, forbliver Converse forpligtet til sin arv samtidig med, at de omfavner forandring og innovation. Mærket vil fortsætte med at udforske nye materialer, teknologier og designs for at forblive relevant på et dynamisk marked. Bæredygtighed vil også spille en afgørende rolle, da Converse stræber efter at reducere sit miljømæssige fodaftryk og gøre en positiv forskel i samfundet. <br><br>
      Desuden vil Converse forblive en platform for kreativitet og selvudtryk, idet de samarbejder med kunstnere, designere og kulturelle ikoner for at producere unikke og inspirerende kollektioner, der resonerer med et globalt publikum. <br><br>
      I sin essens er Converse All Stars rejse langt fra ovre. Det er en saga om udvikling, modstandsdygtighed og kulturel betydning, der vil fortsætte med at forme fodtøjsindustrien og inspirere kommende generationer.
      </p>

      <Image src={weloveconverse} class="w-full"alt="We love Converse" />      
    </div>
  </article>
</MainLayout>

<!-- SCHEMA MARKUP -->
<script type="application/ld+json">
  {
    "@context": "https://schema.org/", 
    "@type": "HowTo", 
    "name": "Design din plakatvæg",
    "description": "Fire trin til en fantastisk plakatvæg: Dyk ned i harmoniske farver,  størrelser og formater samt spændende layout. Få tips til at skabe ro og dynamik!",
    "image": "https://schemamarkup.netlify.app/_astro/03-strl.FWmHfCts_1j95ps.webp",
    "totalTime": "PT2M",
    "estimatedCost": {
      "@type": "MonetaryAmount",
      "currency": "",
      "value": "0"
    },
    "supply": [{
      "@type": "HowToSupply",
      "name": "Indrammede plakater"
    },{
      "@type": "HowToSupply",
      "name": ""
    }],
    "tool": {
      "@type": "HowToTool",
      "name": "Skruer og ravplugs"
    },
    "step": [{
      "@type": "HowToStep",
      "text": "1) Overvej hvordan farverne passer sammen
  
  Overvej hvilket udtryk du gerne vil udtrykke med din plakatvæg. Skal det være ren sort/hvid plakat væg? Eller en blanding af sort/hvid plakater og få plakater med farver? Det kan også være en samling af plakater i samme farvetoner eller en vild farvelade med mange farver.
  
      Vær bevidst om hvilke farver du sammensætter til plakatvæggen.
      Når man beslutter sig for farvertoner til plakatvæggen kan det også være kan det være en god ide at kigge på de omgivelser vægen er en sammenhæng med.",
      "image": "https://schemamarkup.netlify.app/_astro/01-farver.cOXBIyep_Z2jfXvh.webp",
      "name": "Trin 1"
    },{
      "@type": "HowToStep",
      "text": "2) Hvilke motiver skal hænges på væggen?
  
  Ligesom farverne er motiverne på plakaterne også med til at skabe et bestemt udtryk. Skal de være ensartede eller skal der være kontraster når øjet ser væggen? Og kan nogle motiver være med til at skabe en overraskelse når man betragter væggen.
  
      Hvis man har mange forskellige motiver kan det være en god ide at gruppere, så nogle af billederne taler sammen.
      Det kan også være en god ide at sammensætte motiver med stor kontrast, da de på den måde kan fremhæve hinanden.",
      "image": "https://schemamarkup.netlify.app/_astro/02-motiver.qWj0Ro9L_cz3ix.webp",
      "name": "Trin 2"
    },{
      "@type": "HowToStep",
      "text": "3) Motiver i forskellige størrelser og formater
  
  Overvej hvilken størrelse billeder du skal bruge til din væg. Er der mange forskellige formater der skal passes ind i layoutet eller vil du have præcis de samme to formater?
  
  Flere formater og både bred og højformat skaber ofte et dynamisk udtryk, der kan være spændende at gå på opdagelse i. Udfordringen med denne slags layout er at det ofte bliver meget rodet, og derfor kan det være en fordel at følge nogle principper der kan hjælpe med at skabe ro. Det kan også være indbydende for øjet bare at gentage den samme størrelse, - på den måde kan motivet også komme mere til sin ret.
  
      Udvælg formater til din billedvæg. både plakater i forskellige størrelser, høj- og bred-format
      Vælger man at gentage det samme format kan man eks. bryde layoutet ved at tage et eller to billeder ud.",
      "image": "https://schemamarkup.netlify.app/_astro/03-strl.FWmHfCts_1j95ps.webp",
      "name": "Trin 3"
    },{
      "@type": "HowToStep",
      "text": "4) Layout af en spændende billedvæg
  
  At layoute en billedvæg med flere billeder er en svær øvelse. Er der er mange eller få billeder? Hvilke farver, hvilke motiver og hvilke størrelser skal sættes sammen som en enhed?
  
  Man kan bruge forskellige metoder til at skabe et fedt udtryk. Her er nogle du kan overveje at bruge hvis du har mange billeder. Hvis du har billederne i fysisk form, så start med at lave layoutet på gulvet, stil dig op på en stol og tag et billede når du er tilfreds med første udkast. Lav denne øvelser et par gange før du begynder at hænge dem op på væggen.
  
      Anvend linjer der flugter på forskellige måder.
      Arbejd med at have den samme afstand mellem rammerne. Kan man have den sammen afstand giver det ro.
      Man kan også arbejde med at placere billederne lidt abstrakt på væggen. Det kan skabe et mere livligt og overraskende look.",
      "image": "https://schemamarkup.netlify.app/_astro/04-layout3.eOZDYadV_Z163syQ.webp",
      "name": "Trin 4"
    }]    
  }
  </script>