---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/tailwind.css";
import "animate.css";
const { title, description, ogdescription } = Astro.props;
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="../assets/images/favicon.svg" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
	<meta name="description" content="Udforsk historien om Converse All Star fra dens oprettelse i 1908 til dens status som et globalt ikon i dag. Opdag, hvordan skoene har formet mode, kultur og musik gennem årene"/>
    <title>{Astro.props.title}</title>
    <meta name="description" content={Astro.props.descripton} />
    <meta property="og:locale" content="da_DK" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={Astro.props.ogtitle} />
    <meta property="og:description" content={Astro.props.ogdescription} />
  </head>
  
  <body>
    <header>
      <Header />
    </header>

    <main>
      <slot />
    </main>

    <footer>
      <Footer />
    </footer>
  </body>
</html>
